.b11,.b12,.b13,.b14,.b15,.b16,.b17,.b18,.b19,.b2,.b20,.b3,.b31,.b32,.b4,.b41,.b41:hover,.b42,.b42:hover,.b43,.b43:hover,.b5,.b6,.b7,.b8,.b9,.breadc,.i1,.i11,.i2,.i22,.i3,.i4,.i44,.i5,.i55,.li1,.li2,.li3,.i33,.no1,.no2,.sjx1,.sjx2{background-image: url("sprites.png"); background-repeat: no-repeat}
.b11{width:963px; height:65px; background-position: -0px -0px}
.b12{width:964px; height:64px; background-position: -0px -65px}
.b13{width:145px; height:31px; background-position: -0px -129px}
.b14{width:84px; height:129px; background-position: -0px -160px}
.b15{width:84px; height:129px; background-position: -84px -160px}
.b16{width:232px; height:86px; background-position: -168px -160px}
.b17{width:170px; height:57px; background-position: -400px -160px}
.b18{width:157px; height:43px; background-position: -570px -160px}
.b19{width:68px; height:47px; background-position: -0px -289px}
.b2{width:29px; height:30px; background-position: -963px -0px}
.b20{width:275px; height:65px; background-position: -0px -336px}
.b3{width:41px; height:40px; background-position: -727px -160px}
.b31{width:154px; height:80px; background-position: -0px -401px}
.b32{width:121px; height:63px; background-position: -275px -336px}
.b4{width:41px; height:40px; background-position: -768px -160px}
.b41{width:102px; height:19px; background-position: -145px -129px}
.b41:hover{width:102px; height:19px; background-position: -247px -129px}
.b42{width:187px; height:18px; background-position: -349px -129px}
.b42:hover{width:187px; height:18px; background-position: -536px -129px}
.b43{width:189px; height:18px; background-position: -723px -129px}
.b43:hover{width:189px; height:18px; background-position: -809px -160px}
.b5{width:131px; height:43px; background-position: -168px -246px}
.b6{width:657px; height:128px; background-position: -0px -481px}
.b7{width:130px; height:31px; background-position: -299px -246px}
.b8{width:173px; height:81px; background-position: -657px -481px}
.b9{width:815px; height:59px; background-position: -154px -401px}
.breadc{width:211px; height:32px; background-position: -68px -289px}
.i1{width:103px; height:103px; background-position: -0px -609px}
.i11{width:103px; height:103px; background-position: -103px -609px}
.i2{width:106px; height:105px; background-position: -0px -712px}
.i22{width:106px; height:105px; background-position: -106px -712px}
.i3{width:106px; height:105px; background-position: -212px -712px}
.i4{width:106px; height:105px; background-position: -318px -712px}
.i44{width:106px; height:105px; background-position: -424px -712px}
.i5{width:106px; height:105px; background-position: -530px -712px}
.i55{width:106px; height:105px; background-position: -636px -712px}
.li1{width:252px; height:66px; background-position: -206px -609px}
.li2{width:253px; height:66px; background-position: -458px -609px}
.li3{width:252px; height:66px; background-position: -711px -609px}
.i33{width:106px; height:105px; background-position: -742px -712px}
.no1{width:32px; height:34px; background-position: -963px -30px}
.no2{width:34px; height:34px; background-position: -964px -65px}
.sjx1{width:11px; height:16px; background-position: -964px -99px}
.sjx2{width:11px; height:16px; background-position: -975px -99px}
