.b11,.b12,.b13,.b14,.b15,.b16,.b17,.b18,.b2,.b3,.b31,.b32,.b33,.b33:hover,.b34,.b34:hover,.b35,.b35:hover,.b4,.b5,.b6,.b7,.b8,.b9,.breadc,.i1,.i2,.i3,.i4,.i5,.li1,.li2,.li3,.no1,.no2,.sjx1,.sjx2{background-image: url("sprites.png"); background-repeat: no-repeat}
.b11{width:963px; height:65px; background-position: -0px -0px}
.b12{width:975px; height:64px; background-position: -0px -65px}
.b13{width:145px; height:31px; background-position: -0px -129px}
.b14{width:84px; height:129px; background-position: -0px -160px}
.b15{width:84px; height:129px; background-position: -84px -160px}
.b16{width:232px; height:86px; background-position: -168px -160px}
.b17{width:170px; height:57px; background-position: -400px -160px}
.b18{width:157px; height:43px; background-position: -570px -160px}
.b2{width:29px; height:30px; background-position: -963px -0px}
.b3{width:41px; height:40px; background-position: -727px -160px}
.b31{width:154px; height:80px; background-position: -0px -289px}
.b32{width:121px; height:63px; background-position: -154px -289px}
.b33{width:102px; height:19px; background-position: -145px -129px}
.b33:hover{width:102px; height:19px; background-position: -247px -129px}
.b34{width:187px; height:18px; background-position: -349px -129px}
.b34:hover{width:187px; height:18px; background-position: -536px -129px}
.b35{width:189px; height:18px; background-position: -723px -129px}
.b35:hover{width:189px; height:18px; background-position: -768px -160px}
.b4{width:41px; height:40px; background-position: -168px -246px}
.b5{width:131px; height:43px; background-position: -275px -289px}
.b6{width:657px; height:128px; background-position: -0px -369px}
.b7{width:130px; height:31px; background-position: -209px -246px}
.b8{width:173px; height:81px; background-position: -657px -369px}
.b9{width:815px; height:59px; background-position: -0px -497px}
.breadc{width:211px; height:32px; background-position: -406px -289px}
.i1{width:103px; height:103px; background-position: -0px -556px}
.i2{width:106px; height:105px; background-position: -0px -659px}
.i3{width:106px; height:105px; background-position: -106px -659px}
.i4{width:106px; height:105px; background-position: -212px -659px}
.i5{width:106px; height:105px; background-position: -318px -659px}
.li1{width:252px; height:66px; background-position: -103px -556px}
.li2{width:253px; height:66px; background-position: -355px -556px}
.li3{width:252px; height:66px; background-position: -608px -556px}
.no1{width:32px; height:34px; background-position: -963px -30px}
.no2{width:34px; height:34px; background-position: -830px -369px}
.sjx1{width:11px; height:16px; background-position: -975px -65px}
.sjx2{width:11px; height:16px; background-position: -986px -65px}
