.b11,.b13,.b14,.b15,.b16,.b17,.b18,.b19,.b2,.b20,.b21,.b22,.b23,.b3,.b31,.b32,.b4,.b41:hover,.b42,.b42:hover,.b41,.b24,.b43,.b12,.b43:hover,.b5,.b6,.b7,.b8,.b9,.breadc,.i11,.i2,.i1,.i22,.i33,.i4,.i44,.i5,.li1,.i55,.li2,.no1,.no2,.sjx1,.li3,.i3,.sjx2{background-image: url("sprites.png"); background-repeat: no-repeat}
.b11{width:963px; height:65px; background-position: -0px -0px}
.b13{width:145px; height:31px; background-position: -0px -65px}
.b14{width:84px; height:129px; background-position: -0px -96px}
.b15{width:84px; height:129px; background-position: -84px -96px}
.b16{width:232px; height:86px; background-position: -168px -96px}
.b17{width:170px; height:57px; background-position: -400px -96px}
.b18{width:157px; height:43px; background-position: -570px -96px}
.b19{width:68px; height:47px; background-position: -0px -225px}
.b2{width:29px; height:30px; background-position: -963px -0px}
.b20{width:275px; height:65px; background-position: -0px -272px}
.b21{width:74px; height:74px; background-position: -0px -337px}
.b22{width:38px; height:38px; background-position: -727px -96px}
.b23{width:33px; height:33px; background-position: -963px -30px}
.b3{width:41px; height:40px; background-position: -168px -182px}
.b31{width:154px; height:80px; background-position: -0px -411px}
.b32{width:121px; height:63px; background-position: -275px -272px}
.b4{width:41px; height:40px; background-position: -209px -182px}
.b41:hover{width:102px; height:19px; background-position: -145px -65px}
.b42{width:187px; height:18px; background-position: -247px -65px}
.b42:hover{width:187px; height:18px; background-position: -434px -65px}
.b41{width:102px; height:19px; background-position: -765px -96px}
.b24{width:33px; height:33px; background-position: -250px -182px}
.b43{width:189px; height:18px; background-position: -621px -65px}
.b12{width:964px; height:64px; background-position: -0px -491px}
.b43:hover{width:189px; height:18px; background-position: -810px -65px}
.b5{width:123px; height:35px; background-position: -68px -225px}
.b6{width:657px; height:128px; background-position: -0px -555px}
.b7{width:130px; height:31px; background-position: -283px -182px}
.b8{width:173px; height:81px; background-position: -657px -555px}
.b9{width:815px; height:59px; background-position: -74px -337px}
.breadc{width:211px; height:32px; background-position: -191px -225px}
.i11{width:103px; height:103px; background-position: -0px -683px}
.i2{width:106px; height:105px; background-position: -0px -786px}
.i1{width:103px; height:103px; background-position: -103px -683px}
.i22{width:106px; height:105px; background-position: -106px -786px}
.i33{width:106px; height:105px; background-position: -212px -786px}
.i4{width:106px; height:105px; background-position: -318px -786px}
.i44{width:106px; height:105px; background-position: -424px -786px}
.i5{width:106px; height:105px; background-position: -530px -786px}
.li1{width:252px; height:66px; background-position: -154px -411px}
.i55{width:106px; height:105px; background-position: -636px -786px}
.li2{width:253px; height:66px; background-position: -406px -411px}
.no1{width:32px; height:34px; background-position: -396px -272px}
.no2{width:34px; height:34px; background-position: -428px -272px}
.sjx1{width:11px; height:16px; background-position: -867px -96px}
.li3{width:252px; height:66px; background-position: -659px -411px}
.i3{width:106px; height:105px; background-position: -742px -786px}
.sjx2{width:11px; height:16px; background-position: -878px -96px}
