<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Mother's corn  一爱（北京）科技有限公司</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<!--头部大图-->
<div id="J_header" class="header">
    <div class="header_nav b11">
        <div id="J_triggerNavs" class="header_nav_inner clear">
            <a href="javascript:;">
                <span class="en">Company</span>
                <span class="zh">首页</span>
            </a>
            <a href="javascript:;">
                <span class="en">Products</span>
                <span class="zh">产品</span>
            </a>
            <a href="javascript:;">
                <span class="en">About</span>
                <span class="zh">关于我们</span>
            </a>
            <a href="javascript:;" class="last">
                <span class="en">Contact</span>
                <span class="zh">联系我们</span>
            </a>
        </div>
    </div>

    <b class="b20 header_ico"></b>

    <div id="J_pao" class="pao"></div>
    <div id="J_pao2" class="pao2"></div>

</div>

<div class="navs2">
    <div id="J_navs" class="navs">
        <div class="navs_inner">
            <h1 class="navs_logo b12"></h1>
            <div class="navs_list clear">
                <a href="javascript:;" class="navs_effect">
                    <span>
                        <b>Company</b>
                        <i>首页</i>
                    </span>
                </a>

                <a href="javascript:;" class="navs_effect">
                    <span>
                        <b>Products</b>
                        <i>产品</i>
                    </span>
                </a>
                <a href="javascript:;" class="navs_effect">
                    <span>
                        <b>About</b>
                        <i>关于我们</i>
                    </span>
                </a>
                <a href="javascript:;" class="navs_effect last">
                    <span>
                        <b>Contact</b>
                        <i>联系我们</i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="page page1">
    <div id="J_banner" class="banner">
        <ul class="banner_slider">
            <li class="banner_1 banner_li">
                <div class="banner_inner ">
                    <div class="sun"></div>
                    <div class="cloud2 b31"></div>
                    <div class="cloud b32"></div>
                </div>
            </li>
            <li class="banner_2 banner_li">
                <div id="J_flash" class="banner_inner banner_flash" >
                    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="1080" height="200" id="J_game" align="middle">
                        <param name="movie" value="images/flash/slider.swf" />

                        <param name="quality" value="high" />
                        <param name="wmode" value="transparent" />
                        <param name="allowScriptAccess" value="always" />
                        <embed name="J_game" src="images/flash/slider.swf"
                               wmode="transparent" width="1080" height="200"
                               allowScriptAccess="always" align="middle" type="application/x-shockwave-flash"
                               pluginspage="http://www.adobe.com/go/getflashplayer">
                    </object>
                </div>

            </li>
            <li class="banner_3 banner_li">
                <div class="banner_inner">
                    <div class="banner_3tit"></div>
                    <div id="J_map" class="map" data-lazy="images/slider/3_1.jpg">
                        <b class="map_city benelux">BENELUX</b>
                        <b class="map_city france">FRANCE</b>
                        <b class="map_city bulgaria">BULGARIA</b>
                        <b class="map_city turkey">TURKEY</b>
                        <b class="map_city china">CHINA</b>
                        <b class="map_city japan">JAPAN</b>
                        <b class="map_city hongkong">HONGKONG</b>
                        <b class="map_city malaysia">MALAYSIA</b>
                        <b class="map_city singapore">SINGAPORE</b>
                        <b class="map_city australia">AUSTRALIA</b>
                        <b class="map_city newzealand">NEW ZEALAND</b>
                        <b class="map_city usa">USA</b>
                    </div>
                    <div id="J_scroll" class="scroll">
                        <ul id="J_scrollList" class="scroll_list clear">
                            <li class="grow selected" data-city="benelux">
                                <img data-lazy="images/city/1.jpg" src="images/loading.jpg" alt="图片名称" />
                            </li>
                            <li class="grow" data-city="france">
                                <img data-lazy="images/city/2.jpg" src="images/loading.jpg" alt="图片名称" />
                            </li>
                            <li class="grow"  data-city="bulgaria">
                                <img data-lazy="images/city/3.jpg" src="images/loading.jpg" alt="图片名称" />
                            </li>
                            <li class="grow" data-city="turkey">
                                <img data-lazy="images/city/4.jpg" src="images/loading.jpg" alt="图片名称" />
                            </li>
                            <li class="grow" data-city="china">
                                <img data-lazy="images/city/5.jpg" src="images/loading.jpg" alt="图片名称" />
                            </li>
                            <li class="grow" data-city="japan">
                                <img data-lazy="images/city/6.jpg" src="images/loading.jpg" alt="图片名称" />
                            </li>
                            <li class="grow selected" data-city="benelux">
                                <img data-lazy="images/city/7.jpg" src="images/loading.jpg" alt="图片名称" />
                            </li>
                            <li class="grow" data-city="france">
                                <img data-lazy="images/city/8.jpg" src="images/loading.jpg" alt="图片名称" />
                            </li>
                            <li class="grow" data-city="bulgaria">
                                <img data-lazy="images/city/9.jpg" src="images/loading.jpg" alt="图片名称" />
                            </li>
                            <li class="grow" data-city="turkey">
                                <img data-lazy="images/city/10.jpg" src="images/loading.jpg" alt="图片名称" />
                            </li>
                            <li class="grow" data-city="china">
                                <img data-lazy="images/city/11.jpg" src="images/loading.jpg" alt="图片名称" />
                            </li>
                            <li class="grow" data-city="japan">
                                <img data-lazy="images/city/12.jpg" src="images/loading.jpg" alt="图片名称" />
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
        <div class="banner_logo breadc"></div>
        <div class="banner_dot">
            <a class="b33" href="javascript:;"></a>
            <a class="b34" href="javascript:;"></a>
            <a class="b34" href="javascript:;"></a>
        </div>
        <a class="banner_prev b14" href="javascript:;"><span class="hide">上一个</span></a>
        <a class="banner_next b15" href="javascript:;"><span class="hide">下一个</span></a>
    </div>
</div>
<!--page1-->
<div class="line"></div>
<!--page2 产品列表-->
<div class="page page2">
    <div class="pro">
        <div id="J_proCate" class="pro_hd clear">
            <h3 class="pro_tit b16"><span class="hide">产品介绍</span></h3>
            <div class="pro_nav">
                <div class="flip selected J_cate" data-cate-id="1">
                    <a href="javascript:;" class="flip_item">
                        <b class="flip_back">
                            <img data-lazy="images/pro/i1.png" src="images/loading.jpg"/>
                        </b>
                        <b class="flip_front">
                            <img data-lazy="images/pro/i11.png" src="images/loading.jpg"/>
                        </b>
                    </a>
                </div>
                <div class="flip J_cate" data-cate-id="2">
                    <a href="javascript:;" class="flip_item">
                        <b class="flip_back"><img data-lazy="images/pro/i2.png"  src="images/loading.jpg" /></b>
                        <b class="flip_front"><img data-lazy="images/pro/i22.png"  src="images/loading.jpg"/></b>
                    </a>
                </div>
                <div class="flip J_cate" data-cate-id="3">
                    <a href="javascript:;" class="flip_item">
                        <b class="flip_back"><img data-lazy="images/pro/i3.png"  src="images/loading.jpg"/></b>
                        <b class="flip_front"><img data-lazy="images/pro/i33.png"  src="images/loading.jpg"/></b>
                    </a>
                </div>
                <div class="flip J_cate" data-cate-id="4">
                    <a href="javascript:;" class="flip_item">
                        <b class="flip_back"><img data-lazy="images/pro/i4.png"  src="images/loading.jpg"/></b>
                        <b class="flip_front"><img data-lazy="images/pro/i44.png"  src="images/loading.jpg"/></b>
                    </a>
                </div>
                <div class="flip J_cate" data-cate-id="5">
                    <a href="javascript:;" class="flip_item">
                        <b class="flip_back"><img src="images/pro/i5.png" alt=""/></b>
                        <b class="flip_front"><img src="images/pro/i55.png" alt=""/></b>
                    </a>
                </div>

            </div>
        </div>
        <div class="pro_bd">
            <div id="J_proList" class="pro_cnt">
                <img id="J_proCateImg" src="images/cate/1.png" />
                <ul id="J_proListUl" class="pro_list clear">

                </ul>
                <div id="J_proPage" class="pro_pager">
                    <a href="javascript:;" class="selected">1</a>
                    <a href="javascript:;" class="on">2</a>
                    <a href="javascript:;" class="on">3</a>
                    <a href="javascript:;" class="on">4</a>
                    <a href="javascript:;" class="on">5</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="line"></div>
<!--page3 关于我们-->
<div class="page page3">
    <div class="about">
        <div class="about_hd">
            <h3 class="b6"><span class="hide">关于我们</span></h3>
        </div>
        <div class="about_bd">
            <div class="cert">
                <h4 class="cert_tit b18"><span class="hide">认证证书</span></h4>
                <div id="J_cert" class="cert_cnt">
                    <ul class="cert_list cert_list4 clear">
                        <li>
                            <a class="cert_img effeckt-modal-button" data-effeckt-type="flip-horizontal-3D" href="images/certificate/s1.jpg" ><img data-lazy="images/certificate/1.jpg" src="images/loading.jpg" alt="FFC Certificate" /></a>
                            <a class="cert_view b5 effeckt-modal-button" data-effeckt-type="flip-horizontal-3D" href="images/certificate/s1.jpg"><span class="hide">点击查看</span></a>
                            <p class="cert_stit">FFC Certificate</p>
                            <div class="cert_no">(No. 100-027811)</div>
                        </li>
                        <li>
                            <a href="images/certificate/s2.jpg" class=" cert_img effeckt-modal-button" data-effeckt-type="flip-horizontal-3D">
                                <img data-lazy="images/certificate/2.jpg" src="images/loading.jpg" alt="FFC Certificate for Microwave" />
                            </a>
                            <a class="cert_view b5 effeckt-modal-button" data-effeckt-type="flip-horizontal-3D" href="images/certificate/s2.jpg"><span class="hide">点击查看</span></a>
                            <p class="cert_stit">FFC Certificate for Microwave</p>
                            <div class="cert_no"> (No. 100-041352)</div>
                        </li>
                        <li>
                            <a href="images/certificate/s3.jpg" class="cert_img effeckt-modal-button" data-effeckt-type="flip-horizontal-3D">
                                <img data-lazy="images/certificate/3.jpg" src="images/loading.jpg" alt="Heat-Resistance Test Report" />
                            </a>
                            <a class="cert_view b5 effeckt-modal-button" data-effeckt-type="flip-horizontal-3D" href="images/certificate/s3.jpg"><span class="hide">点击查看</span></a>
                            <p class="cert_stit">Heat-Resistance Test Report<br>
                                onJISS2029 Microwave Oven
                                </p>
                            <div class="cert_no">(No. T-11000479-001)</div>
                        </li>
                        <li>
                            <a href="images/certificate/s4.jpg" class="cert_img effeckt-modal-button" data-effeckt-type="flip-horizontal-3D">
                            <img data-lazy="images/certificate/4.jpg" src="images/loading.jpg" alt="CE Certificate" />
                            </a>
                            <a class="cert_view b5 effeckt-modal-button" data-effeckt-type="flip-horizontal-3D" href="images/certificate/s4.jpg"><span class="hide">点击查看</span></a>
                            <p class="cert_stit">CE Certificate</p>
                            <div class="cert_no">(No. K5723/T13)</div>
                        </li>
                    </ul>
                    <ul class="cert_list cert_list3 clear">
                        <li>
                            <a href="images/certificate/s5.jpg" class="cert_img effeckt-modal-button" data-effeckt-type="flip-horizontal-3D">
                            <img data-lazy="images/certificate/5.jpg" src="images/loading.jpg" alt="Safety Test Report" />
                            </a>
                            <a class="cert_view b5 effeckt-modal-button" data-effeckt-type="flip-horizontal-3D" href="images/certificate/s5.jpg"><span class="hide">点击查看</span></a>
                            <p class="cert_stit">Safety Test Report<br/>
                                on design Ink
                                </p>
                            <div class="cert_no">(No. TAE-003447)</div>
                        </li>
                        <li>
                            <a href="images/certificate/s6.jpg" class="cert_img effeckt-modal-button" data-effeckt-type="flip-horizontal-3D">
                            <img data-lazy="images/certificate/6.jpg" src="images/loading.jpg" alt="图片名称" />
                            </a>
                            <a class="cert_view b5 effeckt-modal-button" data-effeckt-type="flip-horizontal-3D" href="images/certificate/s6.jpg"><span class="hide">点击查看</span></a>
                            <p class="cert_stit">SGS Test Report on Silicone</p>
                            <div class="cert_no">(No. F690501/LF-CTSAYAA11-01463)</div>
                        </li>
                        <li>
                            <a href="images/certificate/s7.jpg" class="cert_img effeckt-modal-button" data-effeckt-type="flip-horizontal-3D">
                            <img data-lazy="images/certificate/7.jpg" src="images/loading.jpg" alt="Non-GMO Certificate" />
                            </a>
                            <a class="cert_view b5 effeckt-modal-button" data-effeckt-type="flip-horizontal-3D" href="images/certificate/s7.jpg"><span class="hide">点击查看</span></a>
                            <p class="cert_stit">Non-GMO Certificate</p>
                            <div class="cert_no">(No. CF05622)</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="line"></div>
            <div class="media">
                <h4 class="media_hd b8"><span class="hide">媒体报道</span></h4>
                <div id="J_media" class="media_bd clear">
                    <div class="b25 media_cate"></div>
                    <div class="media_col1">
                        <div class="media_item">
                            <img data-lazy="images/media/1.jpg" src="images/loading.jpg" alt=""/>
                            <a href="images/media/demo/1.jpg" class="media_1  effeckt-modal-button" data-effeckt-type="flip-horizontal-3D"></a>
                            <a href="images/media/demo/2.jpg" class="media_2 effeckt-modal-button" data-effeckt-type="flip-horizontal-3D"></a>
                            <a href="images/media/demo/5.jpg" class="media_3 effeckt-modal-button" data-effeckt-type="flip-horizontal-3D"></a>
                        </div>
                        <div class="media_item">
                            <img data-lazy="images/media/4.jpg" src="images/loading.jpg" alt=""/>
                            <a href="images/media/demo/8.jpg" class="media_8 effeckt-modal-button" data-effeckt-type="flip-horizontal-3D"></a>
                            <a href="images/media/demo/9.jpg" class="media_9 effeckt-modal-button" data-effeckt-type="flip-horizontal-3D"></a>
                        </div>
                    </div>
                    <div class="media_col2">
                        <div class="media_item">
                            <img data-lazy="images/media/2.jpg" src="images/loading.jpg" alt=""/>
                            <a href="images/media/demo/3.jpg" class="media_4 effeckt-modal-button" data-effeckt-type="flip-horizontal-3D"></a>
                            <a href="images/media/demo/4.jpg" class="media_5 effeckt-modal-button" data-effeckt-type="flip-horizontal-3D"></a>
                        </div>
                        <div class="media_item">
                            <img data-lazy="images/media/3.jpg" src="images/loading.jpg" alt=""/>
                            <a href="images/media/demo/6.jpg" class="media_6 effeckt-modal-button" data-effeckt-type="flip-horizontal-3D"></a>
                            <a href="images/media/demo/7.jpg" class="media_7 effeckt-modal-button" data-effeckt-type="flip-horizontal-3D"></a>
                        </div>
                        <div class="media_item">
                            <img data-lazy="images/media/5.jpg" src="images/loading.jpg" alt=""/>
                            <a href="images/media/demo/10.jpg" class="media_10 effeckt-modal-button" data-effeckt-type="flip-horizontal-3D"></a>
                            <a href="images/media/demo/11.jpg" class="media_11 effeckt-modal-button" data-effeckt-type="flip-horizontal-3D"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--page4 联系我们-->
<div class="line"></div>
<div class="page page4">
    <div class="contact">
        <h3 class="contact_hd b9"><span class="hide">联系我们</span></h3>
        <div class="contact_bd">
            <!--百度地图容器-->
            <img data-lazy="images/contact/1.jpg" src="images/loading.jpg" width="816" height="470" alt=""/>
            <img data-lazy="images/contact/2.jpg" src="images/loading.jpg" width="818" height="516" alt=""/>
        </div>
    </div>
</div>

<div class="foot" data-lazy="images/foot.jpg"></div>

<div id="J_top" class="top">
    <b class="b19 top_bg"></b>
    <a href="javascript:;"></a>
    <div class="top_flash">
        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="90" height="200" align="middle">
            <param name="movie" value="images/flash/top.swf" />
            <param name="quality" value="high" />
            <param name="wmode" value="transparent" />
            <param name="allowScriptAccess" value="always" />
            <embed name="J_game" src="images/flash/top.swf"
                   wmode="transparent" width="90" height="200"
                   allowScriptAccess="always" align="middle" type="application/x-shockwave-flash"
                   pluginspage="http://www.adobe.com/go/getflashplayer">
        </object>
    </div>
</div>


<script id="J_popTpl" type="text/template">
    <div class="pop_col1">
        <div class="pop_bimg">
            <img class="J_bImg" src="product/<%= pro_imgs[0] %>" alt="<%= pro_name %>" />
        </div>
        <div class="pop_simg clear">
            <div class="pro_simg_inner">
            <% for(var i =0,len=pro_imgs.length; i<len;i++) { %>
            <a href="product/<%= pro_imgs[i] %>" class="J_sImg" ><img src="product/<%= pro_imgs[i] %>" /></a>
            <% } %>
            </div>
        </div>
    </div>
    <div class="pop_col2">
        <h3 class="pop_tit"><%= pro_name_en %></h3>
        <!--参数-->
        <div class="pop_vars">
            <%= pro_vars %>
        </div>
        <div class="pop_pro">
            <h4 class="pop_pro_tit">产品优势</h4>
            <%= pro_info %>
        </div>
        <div class="pop_shop clear">
            <div class="pop_notice">
                <img src="http://img.qian-duan-she-ji.us/50" alt="图片名称" />
                <img src="http://img.qian-duan-she-ji.us/50" alt="图片名称" />
                <img src="http://img.qian-duan-she-ji.us/50" alt="图片名称" />
            </div>
            <div class="pop_go">
                <a href="<%= pro_jd %>" target="_blank" class="b23 rotate"><span class="hide">JD</span></a>
                <a href="<%= pro_tb %>" target="_blank" class="b24 rotate"><span class="hide">淘宝</span></a>
            </div>
        </div>
    </div>
</script>

<script id="J_proItem" type="text/template">
    <% $.each(items,function(key,data){ %>
    <li id="J_proItem<%= data.pro_id %>" class="hide">
        <div class="pro_info">
            <img src="product/<%= data.pro_imgs[0] %>" alt="<%= data.pro_name %>" />
            <h4 class="pro_stit"><%= data.pro_name_en %></h4>
            <h4 class="pro_stit"><%= data.pro_name %></h4>
            <b class="b2 J_pop rotate effeckt-modal-button" data-id="<%= data.pro_id %>" data-effeckt-target="#J_proModal" data-effeckt-type="flip-vertical-3D"></b>
        </div>
        <div class="pro_action clear">
            <div class="pro_link b17"><span class="hide">网店链接</span></div>
            <p class="pro_shop">
                <a class="pro_jd b3" target="_blank" href="<%= data.pro_jd %>"><span class="hide">京东</span></a>
                <a class="pro_tb b4" target="_blank" href="<%= data.pro_tb %>"><span class="hide">淘宝</span></a>
            </p>
        </div>
    </li>
    <% }) %>

</script>

<!--证书弹窗-->
<div class="effeckt-wrap effeckt-modal-wrap noani_cert" id="effeckt-modal-wrap"> <!-- for centering transform -->
    <div class="effeckt-content effeckt-modal" id="effeckt-modal">
        <!--弹窗主体内容-->
        <div class="modal">
            <div id="J_modalCnt"></div>
            <a href="javascript:;" class="effeckt-modal-close b22 rotate"><span class="hide">关闭</span></a>
        </div>
    </div>
</div>

<!--产品弹窗-->
<div class="effeckt-wrap effeckt-modal-wrap noani_promodal" id="J_proModal" > <!-- for centering transform -->
    <div class="effeckt-content effeckt-modal">
        <!--弹窗主体内容-->
        <div class="pro_modal">
            <div id="J_popCnt" class="pop clear">

            </div>
            <a href="javascript:;" class="effeckt-modal-close b22 rotate"><span class="hide">关闭</span></a>
        </div>
    </div>
</div>

<script src="js/libs/jquery-1.11.1.min.js"></script>
<script src="js/pui.js"></script>
<script src="js/jquery.scrollnav.js"></script>
<script src="js/jquery.lazyload.js"></script>
<script src="js/jquery.slider.js"></script>
<script src="js/jquery.parallax.js"></script>
<script src="js/core.js"></script>
<script src="js/modal.js"></script>
<script src="js/common.js"></script>
<script src="js/index.js"></script>

</body>
</html>